language: cpp
services: mongodb
env: PYTHONPATH=${TRAVIS_BUILD_DIR}/girder
compiler:
    - gcc
before_install:
    - sudo apt-get install npm
    - "mongo --eval 'db.runCommand({setParameter: 1, textSearchEnabled: true})' admin"
install:
    - sudo pip install tangelo
    - sudo pip install pep8 coverage
    - npm install -g grunt grunt-cli
    - git clone https://github.com/girder/girder.git
    - cd girder
    - sudo pip install -r requirements.txt
    - npm install
    - cd ..
    - npm install
script:
    - mkdir build
    - cd build
    - cmake -D PYTHON_COVERAGE:BOOL=ON ..
    - ctest -VV -S ../cmake/travis_continuous.cmake
