language: python
python:
    - "2.7"

sudo: false

addons:
  apt:
    packages:
      - gfortran
      - libcurl4-openssl-dev

services: mongodb
env:
  global:
    - PYTHONPATH=$TRAVIS_BUILD_DIR/girder:~/vtk-precise64/lib/python2.7/site-packages:~/vtk-precise64/lib
    - LD_LIBRARY_PATH=~/vtk-precise64/lib
  matrix:
    - FLOW_BUILD_R=true R_LIBS_USER=~/R
    - FLOW_BUILD_R=false
compiler:
    - gcc

before_install:
    - vmstat 1 1
    - "mongo --eval 'db.runCommand({setParameter: 1, textSearchEnabled: true})' admin"

install:
    - pwd
    - echo $PYTHONPATH

    # Build R from source
    - if ($FLOW_BUILD_R); then
      mkdir -p $R_LIBS_USER &&
      wget http://cran.rstudio.com/src/base/R-3/R-3.2.0.tar.gz &&
      tar xzf R-3.2.0.tar.gz &&
      cd R-3.2.0 &&
      ./configure --enable-R-shlib &&
      make -j3 &&
      export PATH=$PATH:`pwd`/bin &&
      export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:`pwd`/lib:`pwd`/bin &&
      echo $GITHUB_PAT &&
      export GITHUB_PAT=2a36e1270e28509d192f4683e1da9cec01c1510d &&
      which R Rscript &&
      R --version &&
      R -e '.libPaths(); sessionInfo()' &&
      Rscript -e 'install.packages(c("ape","geiger","nlme","devtools"), repos=c("http://cran.cnr.Berkeley.edu"))' &&
      R -e 'options(repos="http://cran.cnr.Berkeley.edu");library(devtools);install_github("hafen/cardoonTools")';
      fi;

    - pip install tangelo==0.7.0 pep8 coverage
    - npm install -g grunt grunt-cli

    # Girder
    - cd $TRAVIS_BUILD_DIR
    - git clone https://github.com/girder/girder.git
    - cd girder
    - pip install -r requirements.txt
    - npm install

    # VTK
    - cd $TRAVIS_BUILD_DIR
    - wget http://midas3.kitware.com/midas/download/bitstream/366970/vtk-precise64-118242.tar.gz -O vtk-precise64.tar.gz
    - tar xzf vtk-precise64.tar.gz -C ~

    # Romanesco
    - cd $TRAVIS_BUILD_DIR/girder/plugins
    - git clone https://github.com/Kitware/romanesco.git
    - cd $TRAVIS_BUILD_DIR/girder/plugins/romanesco
    - pip install -r requirements.txt
    - python -m romanesco &

    # TangeloHub
    - cd $TRAVIS_BUILD_DIR
    - npm install

script:
    - mkdir build
    - cd build
    - cmake ..
    - ctest -VV
