#! /usr/bin/env bash
source "{{venv_root}}/bin/activate"

export PYTHONPATH=/home/vagrant/vtk-precise64/lib/python2.7/site-packages:/home/vagrant/vtk-precise64/lib:/vagrant/romanesco
export LD_LIBRARY_PATH=/home/vagrant/vtk-precise64/lib

cd {{ romanesco_install_root }}
python -m romanesco
