html body svg
    width 100%
    height 100%

#intro
    margin-top 60px

#control-panel
    z-index 10
    border-top solid 1px #ddd
    background-color rgba(255, 255, 255, 0.9)

#upload
    width 300px
    padding 20px
    margin 0px 0px 0px 0px

#active-collections, .tab-content
    margin-top: 20px

#workflow-editor, #code-editor, #editor, #vis, #alert_placeholder
    position absolute
    top 0
    right 0
    bottom 0
    left 0

#alert_placeholder
    z-index 5

#prov
    height 100px
    margin-top 20px

.error-message, .success-message, .info-message
    padding 15px
    margin-bottom 10px

.login-view
    margin-bottom 20px

#new-analysis-form
    margin-bottom 20px

.spacer
    margin-top 20px

.disabled-icon
    opacity 0.15

.tab-pane
    height 240px
    overflow scroll

.indent
    margin-left 30px

#analysis-output
    margin 10px 0px 0px 0px
    max-height 200px
    overflow auto
    overflow-wrap normal
    word-wrap normal
    word-break normal
    white-space pre

.input-type-label
  color #888
  margin-left 6px
  font-weight 400

.analysis-setup-description
  color #444
  margin-bottom 10px

.analysis-setup-outputs-container
  margin-bottom 10px
  border-bottom 1px solid #eee
  padding-bottom 5px
