body
    padding-top 70px

.workflows .panel
    cursor pointer

.panel
    margin 0px auto 1px auto
    width 95%

.panel.active-prev
    margin 0px auto 30px auto

.panel.active
    margin 0px auto 30px auto
    width 100%

//.btn.btn-default.th-button
//    color #aaa
//    &:hover
//        color #000

.icon
    font-size 24px

.th-navbar-inset
    margin-left auto
    margin-right auto
    width 90%

.th-visualization, svg
    width 100%
    height 500px
    overflow scroll

.th-fullscreen
    position fixed
    width 100%
    height 100%
    top 0px
    left 0px
