.list-group-item
    .row-content
        .panel.panel-default
            .panel-body
                h4
                    b= name
                p= description
                .th-details.hidden
                    .clearfix
                        .th-inputs
                        .btn.btn-primary.pull-right.th-go
                            | Go
                    .th-results.hidden
