.navbar.navbar-default.navbar-fixed-top
    .container
        .th-navbar-inset
            .navbar-header
                a.navbar-brand(href="javascript:void(0)")= brand + ' Workflows'
                form.navbar-form.navbar-left
                    input.th-search.form-control(type="text", placeholder="Search")

.container
    .workflows.list-group
