description "Girder Worker"

start on startup
stop on shutdown

# Automatically Respawn:
respawn
respawn limit 20 5

setuid "{{ ansible_user_id }}"
setgid "{{ ansible_user_id }}"

script
    cd "{{ girder_worker_path }}"
    {% if girder_worker_virtualenv is defined %}
    exec "{{ girder_worker_virtualenv }}/bin/python" -m girder_worker
    {% else %}
    exec python -m girder_worker
    {% endif %}
end script
