#! /usr/bin/env bash
source "{{venv_root}}/bin/activate"

export PYTHONPATH={{ ansible_env.HOME}}/vtk-precise64/lib/python2.7/site-packages:{{ ansible_env.HOME}}/vtk-precise64/lib:{{ girder_worker_install_root }}
export LD_LIBRARY_PATH={{ ansible_env.HOME}}/vtk-precise64/lib

cd {{ girder_worker_install_root }}
python -m girder_worker
