- name: r | add R repository
  shell:
    echo 'deb http://cran.rstudio.com/bin/linux/ubuntu trusty/' | sudo tee /etc/apt/sources.list.d/cran.list
    creates=/etc/apt/sources.list.d/cran.list
  sudo: yes

- name: r | fetch R signing key
  command: apt-key adv --keyserver keyserver.ubuntu.com --recv-keys E084DAB9
  sudo: yes

- name: r | update apt cache
  apt: update_cache=yes
  sudo: yes

- name: install required libraries
  apt: pkg={{ item }} state=latest
  sudo: yes
  with_items:
    - mesa-common-dev
    - libglu1-mesa-dev
    - libgsl0-dev
    - zlib1g-dev
    - libcurl4-openssl-dev
    - libx11-dev
    - xvfb
    - r-base
    - r-base-dev


- name: start xvfb server
  command: Xvfb :7 -screen 0 1280x1024x24
  async: 45
  poll: 0
  sudo: yes


- name: check for package upgrades
  command: /usr/bin/Rscript --slave --no-save --no-restore-history -e "update.packages(checkBuilt=TRUE, ask=FALSE, repos='http://cran.cnr.Berkeley.edu')"
  sudo: yes


- name: install packages
  command: /usr/bin/Rscript --slave --no-save --no-restore-history -e "if (! ('{{ item }}' %in% installed.packages()[,'Package'])) install.packages(pkgs='{{ item }}', repos=c('http://cran.cnr.Berkeley.edu'))"
  sudo: yes
  with_items:
    - rgl
    - ape
    - geiger
    - nlme
    - codetools
    - devtools
    - diversitree
    - phytools
    - dplyr
  environment:
    DISPLAY: :7


- name: install github packages
  command: /usr/bin/Rscript --slave --no-save --no-restore-history -e "parts<-unlist(strsplit('{{ item }}', '/'));options(repos='http://cran.cnr.Berkeley.edu');library(devtools);install_github(parts[2], parts[1])"
  sudo: yes
  with_items:
    - hafen/cardoonTools
    - tangelo-hub/romanescoTools
    - arborworkflows/aRbor
  environment:
    DISPLAY: :7
